.about{
    padding: 120px 8%;
}

/* TITLE */
.section-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 70px;

    background: linear-gradient(90deg,#7c3aed,#c084fc,#7c3aed);
    background-size: 200% auto;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: move 4s linear infinite;
}

@keyframes move{
    0%{background-position:0%}
    100%{background-position:200%}
}

/* INTRO */
.about-intro{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 80px;
}

.about-text{
    flex: 1;
}

.about-text h2{
    margin-bottom: 15px;
}

.about-text p{
    color: var(--gray-color);
    line-height: 1.8;
    margin-bottom: 15px;
}

/* IMAGE */
.about-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img{
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(124,58,237,0.2);
}

/* TIMELINE */
.timeline{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sub-title{
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* ITEM */
.timeline-item{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* DOT */
.dot{
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50%;
    margin-top: 8px;
    box-shadow: 0 0 10px rgba(124,58,237,0.5);
}

/* CONTENT */
.content h3{
    margin-bottom: 5px;
}

.content span{
    font-size: 0.8rem;
    color: #c084fc;
}

.content p{
    color: var(--gray-color);
    line-height: 1.6;
    margin-top: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px){

    .about-intro{
        flex-direction: column;
        text-align: center;
    }

    .about-image img{
        width: 260px;
    }

}