/* NAVBAR */
.navbar{
    width: 100%;
    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    background: rgba(15, 23, 42, 0.65);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255,255,255,0.08);

    z-index: 1000;

    transition: 0.3s ease;
}


.nav-logo a{
    font-size: 1.4rem;
    font-weight: 700;
}


.nav-menu{
    display: flex;
    gap: 30px;
}


.nav-menu a{
    position: relative;

    font-size: 1rem;
    font-weight: 500;

    transition: 0.3s ease;
}


.nav-menu a:hover{
    color: var(--primary-color);
}

.nav-menu a::before{
    content: "";

    position: absolute;

    width: 0;
    height: 2px;

    left: 50%;
    bottom: -6px;

    background: var(--primary-color);

    transform: translateX(-50%);

    transition: 0.3s ease;
}


.nav-menu a:hover::before{
    width: 100%;
}

.navbar.scrolled{
    padding: 15px 8%;

    background: rgba(15, 23, 42, 0.85);

    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.nav-link.active{
    color: var(--primary-color);
}

.nav-link.active::before{
    width: 100%;
}

.menu-toggle{
    display: none;

    font-size: 1.8rem;

    cursor: pointer;
}


/* MOBILE */
@media (max-width: 768px){

    .navbar{

        display: contents;
        
        background: transparent;

        backdrop-filter: none;

        box-shadow: none;

        justify-content: flex-end;

        padding: 25px 5%;
        
        border: none;
    }

    /* HIDE LOGO */
    .nav-logo{
        display: none;
    }


    .menu-toggle{

        display: flex;

        justify-content: center;
        align-items: center;

        position: fixed;

        top: 20px;
        right: 20px;

        width: 50px;
        height: 50px;

        border-radius: 12px;

        background: rgba(255,255,255,0.05);

        border: 1px solid rgba(255,255,255,0.08);

        backdrop-filter: blur(10px);

        font-size: 1.5rem;

        cursor: pointer;

        z-index: 1001;

    }

    .nav-menu{

        position: fixed;

        top: 0;
        left: -100%;

        width: 200px;
        height: 100vh;

        background: rgba(15,23,42,0.75);

        backdrop-filter: blur(20px);

        border-right: 1px solid rgba(255,255,255,0.08);

        flex-direction: column;

        justify-content: center;
        align-items: center;

        gap: 35px;

        transition: 0.4s ease;

        z-index: 1000;
    }

    /* SHOW MENU */
    .nav-menu.active{
        left: 0;
    }

    /* LINKS */
    .nav-link{

        font-size: 1.1rem;

    }

}