/* NAVBAR */
.navbar{
    width: 100%;
    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    background: rgba(15, 23, 42, 0.65);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255,255,255,0.08);

    z-index: 1000;

    transition: 0.3s ease;
}

/* LOGO */
.nav-logo a{
    font-size: 1.4rem;
    font-weight: 700;
}

/* MENU */
.nav-menu{
    display: flex;
    gap: 30px;
}

/* NAV LINKS */
.nav-menu a{
    position: relative;

    font-size: 1rem;
    font-weight: 500;

    transition: 0.3s ease;
}

/* TEXT HOVER */
.nav-menu a:hover{
    color: var(--primary-color);
}

/* UNDERLINE EFFECT */
.nav-menu a::before{
    content: "";

    position: absolute;

    width: 0;
    height: 2px;

    left: 50%;
    bottom: -6px;

    background: var(--primary-color);

    transform: translateX(-50%);

    transition: 0.3s ease;
}

/* ON HOVER */
.nav-menu a:hover::before{
    width: 100%;
}

/* SCROLL EFFECT */
.navbar.scrolled{
    padding: 15px 8%;

    background: rgba(15, 23, 42, 0.85);

    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.nav-link.active{
    color: var(--primary-color);
}

.nav-link.active::before{
    width: 100%;
}

/* MENU BUTTON */
.menu-toggle{
    display: none;

    font-size: 1.8rem;

    cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px){

    .navbar{
        padding: 20px 5%;
    }

   .nav-logo {
    display: none;
   }

    .menu-toggle{
        display: block;
    }

   
    .nav-menu{

        position: absolute;

        top: 100%;
        left: 0;

        width: 100%;

        background: rgba(15,23,42,0.98);

        flex-direction: column;

        align-items: center;

        gap: 25px;

        padding: 30px 0;

        display: none;
    }

    /* ACTIVE MENU */
    .nav-menu.active{
        display: flex;
    }

}